<div class="merchant-dashboard">
  
  <div class="dashboard-sections">
    <div class="ship-items">
      <div id="border-adjust">
        <h2>Items Ready to Ship</h2>
      </div>
      <ul>
        <li>Item to Ship #1</li>
        <li>Item to Ship #2</li>
        <li>Item to Ship #3</li>
        <li>Item to Ship #4</li>
        <li>Item to Ship #5</li>
      </ul>
    </div>
    <div class="favorite-customers">
      <div id="border-adjust">
        <h2>Favorite Customers</h2>
      </div>
      <ol>
        <li>Favorite Customer #1</li>
        <li>Favorite Customer #2</li>
        <li>Favorite Customer #3</li>
        <li>Favorite Customer #4</li>
        <li>Favorite Customer #5</li>
      </ol>
    </div>
  </div>
</div>
