<section id="header"> 
  <h1 style="text-align:center;">Little Esty Shop</h1>
  <h3 style="float:left; width:50%; text-align:left">Admin Dashboard</h3>
  <nav style="float:right; width:50%; text-align:right"> 
    <%= link_to("Merchants", "/admin/merchants") %> | 
    <%= link_to("Invoices", "/admin/invoices") %>
  </nav>
</section>

