<h1>My Invoices</h1>

<div id="my-invoices">
  <p><% @invoice_items.each do |invoice_item| %></p>
    <p>Invoice #<%= link_to invoice_item.id, merchant_invoice_path(@merchant, invoice_item.invoice) %></p>
  <% end %>
</div>