<div class="admin-dashboard">
  
  <div class="dashboard-sections">
    <div class="incomplete-invoices">
      <h2>Incomplete Invoices</h2>
      <ul>
        Under Construction
      </ul>
    </div>

    <div class="top-customers">
      <h2>Top Customers</h2>
      <ol>
        Under Construction
      </ol>
    </div>
  </div>
</div>