<h1>Admin Dashboard</h1>


<section id="admin_merchants_index">
  <%= link_to "Merchants", "/admin/merchants" %>
</section>
<section id="admin_invoices_index">
<%= link_to "Invoices", "/admin/merchants" %>
</section>