<h1 style="float:left; margin:20px;">Admin Dashboard</h1>
<h3 style="float:right; background-color:lightgrey; margin:20px;"><%= link_to "Dashboard", admin_path %> 
<%= link_to "Merchants", admin_merchants_path %>   
<%= link_to "Invoices", admin_invoices_path %></h3>