<div id="admin-dashboard-header">
  <h1> Admin Dashboard </h1>
</div>

<div class="sub-header">
    <nav class="navigation-bar"> 
      <%= link_to "Dashboard", admin_index_path %>
      <%= link_to "Merchants", admin_merchants_path %>
      <%= link_to "Invoices", admin_invoices_path %>
    </nav>
</div>

<div class="column">
  <section class="top_customers">
    <h3>  Top 5 Customers</h3>
      <ol>
        <% @top_5_customers.each do |customer| %>
          <li><%="#{customer.first_name} #{customer.last_name} has made #{customer.result_count} successful transactions"%></li><br>
        <% end %>
      </ol>
  </section>
  </div>