<div id="admin-dashboard-header">
  <h1> Admin Dashboard </h1>
</div>

<div class="sub-header">
    <nav class="navigation-bar"> 
      <%= link_to "Dashboard", admin_index_path %>
      <%= link_to "Merchants", admin_merchants_path %>
      <%= link_to "Invoices", admin_invoices_path %>
    </nav>
</div>
