<h1><%= @merchant.name %></h1>
<h2>My Invoices</h2>
<% @invoice_items.each do |invoice_item| %>
  <h3><%= link_to "Invoice ##{invoice_item.invoice_id}", "/merchants/#{@merchant.id}/invoices/#{invoice_item.invoice_id}" %></h3>
<% end %>