<h1>Admin::Invoices#index</h1>

<h2>Invoices Index</h2>
  <ul>
  <% @invoices.each do |invoice| %>
    <div>
      <li>Invoice ID: <%= invoice.id %></li>
        <li><%= link_to invoice.id, admin_invoice_path(invoice) %></li>
    </div>
    <% end %>
  </ul>