<h1>Invoice Index</h1>

<% if @invoices.any? %>
<ul>
  <% @invoices.each do |merchant| %>
    <li>
    <%= link_to invoice.id, "/admin/invoices/#{invoice.id}" %>
    </li>
  <% end %>
</ul>
<% else %>
  <p>No Invoices Found</p>
<% end %>