<div class="header">
<h1>Little Etsy Shop</h1>
</div>

<div class="subhead">
  <h3>Admin Invoice Show Page</h3>
</div>

<div class="subhead">
  <h2>ID: <%= @invoice.id %></h2>
  <h4>Status: <%= @invoice.status %></h4>
  <h4>Customer Name: <%= @invoice.customer_name %></h4>
  <h5>Created <%= @invoice.creation_date %></h5>
</div>  