<section>
<% @merchant.coupons.each do |coupon| %>
  <p><%= link_to "#{coupon.name}", merchant_coupon_path(@merchant.id, coupon.id) %> <%= coupon.value %> <%= coupon.coupon_type %> Off!</p>
<% end %>
</section>
<section>
  <%= link_to "Create New Coupon", new_merchant_coupon_path(@merchant.id) %>
</section>