<h1>Edit Merchant</h1>
<%= form_with url: "/admin/merchants/#{@merchant.id}", method: :patch, local: true do |f| %>
  <%= f.text_field :name, value: @merchant.name %>
  <%= f.submit "Submit" %>
<% end %>