<h2>Edit Merchant</h2>

<%= form_with model: [:admin, @merchant], url: admin_merchant_update_info_path(@merchant), local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.submit "Save Changes" %>
<% end %>