<h1>Merchants</h1>

<h2>Enabled Merchants</h2>
<% if @enabled_merchants.any? %>
  <table>
    <tbody>
      <% @enabled_merchants.each do |merchant| %>
        <tr>
          <td><%= merchant.name %></td>
          <td>
            <%= button_to 'Disable', disable_status_admin_merchant_path(merchant), method: :put, class: "button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No enabled merchants found.</p>
<% end %>

<h2>Disabled Merchants</h2>
<% if @disabled_merchants.any? %>
  <table>
    <tbody>
      <% @disabled_merchants.each do |merchant| %>
        <tr>
          <td><%= merchant.name %></td>
          <td>
            <%= button_to 'Enable', enable_status_admin_merchant_path(merchant), method: :put, class: "button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No disabled merchants found.</p>
<% end %>