<h1> Merchants Index Page </h1>

<% @merchants.each do |merchant| %>
  <ul>
    <%= link_to merchant.name, admin_merchant_path(merchant)%>
    <%= form_with url: admin_merchant_path(merchant), method: :patch do |form| %>
      <%= form.button "Enable", value: "enabled" %>
      <%= form.button "Disable", value: "disabled" %>
    <%end%>
  </ul>
  <%end%>
