<h1>Merchant Index</h1>

<% if @merchants.any? %>
<ul>
  <% @merchants.each do |merchant| %>
    <li>
    <%= link_to merchant.name, admin_merchant_path(merchant) %>
    </li>
  <% end %>
</ul>
<% else %>
  <p>No Merchants Found</p>
<% end %>