<h1>Merchant Index</h1>
<%= link_to "Create New Merchant", new_admin_merchant_path %>

<% if @merchants.any? %>
<ul>
  <% @merchants.each do |merchant| %>
    <li>
    <%= link_to merchant.name, admin_merchant_path(merchant) %>
    <%= button_to (merchant.disabled ? 'Enable' : 'Disable'), disable_enable_admin_merchant_path(merchant), method: :put, data: { confirm: 'Are you sure?' } %>

    </li>
  <% end %>
</ul>
<% else %>
  <p>No Merchants Found</p>
<% end %>