<h1>Merchants</h1>

<ul>
   <% @merchants.each do |merchant| %>
   <li>
      <div id="merchant-<%= merchant.id %>">
         <h3>Merchant: <%= link_to merchant.name, admin_merchant_path(merchant.id) %></h3>
      </div>
   </li>
   <% end %>
</ul>