<h1>Create New Merchant</h1>

<%= form_with model: @merchant, url: "/admin/merchants", method: :post, local: true do |form| %>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name %>
  <%= form.submit "Submit" %>
<% end %>