<h1>Add New Merchant</h1>
<%= form_with model: @merchant, url: "/admin/merchants", method: :post, data: {turbo: false} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Submit" %>
<% end %>