<h1><%= @merchant.name %>'s Invoices </h1>


<% @merchant.distinct_invoices.each do |invoice| %>
  <p> <%= link_to invoice.id, merchants_invoice_path(@merchant, invoice) %>: <%= invoice.status %></p>
  <p>----------------------------------------</p>
<% end %>