<div id="merchant_item_list" style="float:right; width:50%; padding:20px;">
  <h2>Item List</h2>
<ul>
  <% @merchant_items.each do |item| %>
    <li>
      <%= item %>
    </li>
  <% end %>
</ul>
</div>