<p><%= link_to "Merchant Items", "merchant_path(@merchant)", method: :get  %></p>

<p><%= link_to "Merchant Invoice Items", "invoices_path(@merchant)", method: :get %></p>

<h1><%= @merchant.name %></h1>

