<div id="merchant_item_list" style="float:right; width:50%; padding:20px;">
  <h2><%= "#{@merchant.name}" %>'s Item List</h2>
<ul>
  <% @items.each do |item| %>
    <li>
      <%= link_to "#{item.name}", merchant_item_path(@merchant, item.id) %>
    </li>
  <% end %>
</ul>
</div>