<h3 style="text-align: center;">My Invoices</h3>

<% @invoice_items.each do |invoice_item| %>
  <p><%= link_to "Invoice ##{invoice_item.invoice_id}", invoice_path(invoice_item.invoice_id) %></p>
<% end %>