<h1><%= @merchant.name %></h1>

<%= button_to "#{@merchant.name} Items", "/merchants/#{@merchant.id}/items", method: :get %>
<%= button_to "#{@merchant.name} Invoices", "/merchants/#{@merchant.id}/invoices", method: :get %>
