<div class="header">
<h1>Items</h1>
</div>
<% @items.each do |item| %>
  <h3><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
  </h3>
<% end %>

<%= link_to "Create A New Item", "/merchants/#{@merchant.id}/items/new" %>

<h2>Top 5 Most Popular Items:</h2>
<div class="top-5-items">
  <% @merchant.top_5_items.each do |item| %>
    <p><%= link_to "#{item.name}", merchant_item_path(item.merchant_id, item.id) %></p>
    <p>Total Revenue: $<%= Item.item_revenue(item) %></p>
  <% end %>
</div>