<h1 id="merchant_name"><%= "#{@merchant.name} Items" %></h1>

<h2>Available Items:</h2>
<% @merchant_items.each do |item| %>
  <ul id="merchant_items-<%= item.id %>">
    <li><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
  <% end %> 
</ul>


<section id="merchant-<%= merchant.id %>">