<h1 id="merchant_name"><%= "#{@merchant.name} Items" %></h1>

<h2>Available Items:</h2>
<ul id="merchant_items">
  <% @merchant_items.each do |item| %>
    <li><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
  <% end %> 
</ul>

