<h1 id="product_header"><%= @item.name %></h1>

<ul id="item_details"> 
  <li><strong>Item Description: </strong><%= @item.description %></li>
  <li><strong>Current Selling Price: </strong><%= number_to_currency(@item.unit_price/100.0) %></li>
</ul>

<section id="link_to_edit">
  <p><%= link_to "Edit Item", "/items/#{@item.id}/edit" %></p>
</section>
