<h2>Invoices with at least one item</h2>

<% @merchant.invoices.each do |invoice| %>
    <% if !invoice.items.empty? %>
    <p> <%=link_to "#{invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice.id}" %> 
        <% end %> </p> 
    <% end %>