<h1>Merchant Invoice Show Page</h1>

<h3>ID: <%= @invoice.id %></h3>
<h3>Status: <%= @invoice.status %></h3>
<h3>Created on: <%= @invoice.creation_date %></h3>
<h3>Customer: <%= @invoice.customer_name %></h3>