<section id="header"> 
  <h3 style="float:left; width:50%; text-align:left;">Admin Dashboard</h3>
</section>
<section id="content" style="clear:both">
  <div id="merchant_list" style="float:left; width:50%; padding:20px;">
    <h2>Merchant List</h2>
    <h4>Enabled Merchants</h4>
    <ol id = "enabled_merchants">
      <% @merchants.each do |merchant| %>
        <% if merchant.status == true %>
          <li>
            <%= link_to "#{merchant.name}", admins_merchant_path(merchant.id) %><%= button_to merchant.status ? "Disable" : "Enable", toggle_status_admins_merchant_path(merchant.id), method: :patch, id: "#{merchant.id}_button" %>
          </li>
        <% end %>
      <% end %>
    </ol>
    <h4>Disabled Merchants</h4>
    <ol id = "disabled_merchants">
      <% @merchants.each do |merchant| %>
        <% if merchant.status == false %>
          <li>
            <%= link_to "#{merchant.name}", admins_merchant_path(merchant.id) %><%= button_to merchant.status ? "Disable" : "Enable", toggle_status_admins_merchant_path(merchant.id), method: :patch, id: "#{merchant.id}_button" %>
          </li>
        <% end %>
      <% end %>
    </ol>
  </div>
</section>