<section id="header"> 
  <h3 style="float:left; width:50%; text-align:left;">Admin Dashboard</h3>
</section>
<section id="content" style="clear:both">
  <%= form_with model: @new_admins_merchant, url: admin_merchants_path, id: "new_merchant_form", local: true do |form| %>
      <p>
        <%= form.label :name %>
        <%= form.text_field :name %>
        <%= form.submit value: "Submit"%>
      </p>
    <% end %>
</section>