<% @items.each do |item| %>
  <section id="<%= item.id %>">
    <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %></br>
    <%= button_to "Enable Item", merchant_item_path(@merchant, item), method: :patch, params: { enabled: true, item_id: item.id }, data: { turbo: false } %>
    <%= button_to "Disable Item", merchant_item_path(@merchant, item), method: :patch, params: { disabled: true, item_id: item.id }, data: { turbo: false } %>
  </section>
<% end %>