<h3 style="text-align: center;">My Items</h3>

<style>table, th, td </style>
<table>
  <thead>
  </thead>
  <tbody>
    <h3>Enabled Items</h3>
    <% @merchant.enabled_item_ids.each do |item_id| %>
      <tr>
        <td><%= Item.find(item_id).name %></td>
        <td>
          <p><%= button_to "Disable", merchant_item_path(@merchant, item_id), method: :patch, params: {status: "disabled"} %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>table, th, td </style>
<table>
  <thead>
  </thead>
  <tbody>
    <h3>Disabled Items</h3>
    <% @merchant.disabled_item_ids.each do |item_id| %>
      <tr>
        <td><%= Item.find(item_id).name %></td>
        <td>
          <p><%= button_to "Enable", merchant_item_path(@merchant, item_id), method: :patch, params: {status: "enabled"} %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>