<h1>Little Esty Shop</h1> 

<p><%= @merchant.name %></p>

<ul>
  <% @merchant.items.each do |item| %>
    <li>
      <%= link_to item.name, merchant_item_path(@merchant, item), class: "item-button" %>
    </li>
  <% end %>
</ul>