<h1>Little Esty Shop</h1> 

<p><%= @merchant.name %></p>

<div id="merchant_items">
  <% @merchant.items.each do |item| %>
    <div class="item">
      <%= link_to item.name, merchant_item_path(@merchant, item) %>
      <%= button_to item.disabled? ? 'Enable' : 'Disable', merchant_item_path(@merchant, item), method: :patch, params: { disable: true } %>
    </div>
  <% end %>
</div>