<h1>Little Esty Shop</h1> 
<p><%= @merchant.name %></p>

<div class="items-divider">
  <li><%= link_to "My Items", merchant_items_path %></li>
</div>

<div class="invoices-divider">
  <li><%= link_to "My Invoices", merchant_invoices_path %></li>
</div>