body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.shop-title h1 {
  font-size: 50px; 
  font-weight: bold;
  text-align: center;
  margin: 0; 
  padding: 10px 0; 
}

.admin-invoice-title {
  background-color: #d9d9d9;
  text-align: center;
}

.admin-dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.admin-dashboard-header .admin-title h1 {
  margin-left: 20px;
  padding-bottom: 5px;
}

.admin-dashboard-header .admin-nav a {
  font-size: 20px;
  margin-right: 20px;
  font-weight: bold;
}

.admin-content {
  margin: 20px;
}

.site-wrapper {
  border: 2px solid #000; 
  margin: 20px; 
  padding: 20px; 
  min-height: calc(100vh - 40px); 
}

.invoice-header {
  text-align: center;
}

/* DASHBOARD STYLING */

.admin-dashboard {
  text-align: center;
  margin: 20px;
}

.admin-dashboard .dashboard-sections {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.admin-dashboard .incomplete-invoices,
.admin-dashboard .top-customers {
  width: 45%;
  padding: 10px;
  text-align: left;
}

.admin-dashboard .incomplete-invoices h2,
.admin-dashboard .top-customers h2 {
  background-color: #d9d9d9;
  text-align: center;
}

.admin-dashboard .incomplete-invoices ul,
.admin-dashboard .top-customers ol {
  padding-left: 10;
  text-align: left;
}

.admin-dashboard h2 {
  font-size: 25px;
  border-top: 1.5px solid #000000;
}

.admin-dashboard ul,
.admin-dashboard ol {
  list-style: none;
  padding-left: 0;
}

.admin-dashboard li {
  margin-bottom: 5px;
}

/* Tables */

.grid-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.grid-table  th, .grid-table  td {
  border: 1px solid #000000;
  padding: 8px;
}

.grid-table  th {
  background-color: #d9d9d9;
  color: #333;
}


