/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .flex-container-hdrs {
  display: flex;
  width: 500px;
 }

 .flex-container {
  display: flex;
  width: 500px;
 }

 .show-merch {
  margin-right: 10px;
 }

 .index-top-five {
  flex: 1 1 50px;
 }

 .column-hdr {
  flex: 1 1 50px;
  text-decoration: underline;
 }