<div class="admin_dashboard_header">
  <h2>Admin Dashboard</h2>
</div>

<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>
<nav class="admin_dashboard_nav_bar">
  <ul>
    <li><%= link_to 'Dashboard', '/admin', class: 'active' %></li>
    <li><%= link_to 'Merchants', '/admin/merchants' %></li>
    <li><%= link_to 'Invoices', '/admin/invoices' %></li>
  </ul>
</nav>

</body>
